@font-face {

    font-family: Raleway-Bold;
    src: url('./fonts/Raleway-Bold.ttf')
}

@font-face {
    font-family: Raleway;
    src: url("./fonts/Raleway-Regular.ttf")
}

@font-face {
    font-family: Raleway-Italic;
    src: url("./fonts/Raleway-Italic.ttf")
}

@font-face {
    font-family: Libre-Franklin-Thin;
    src: url("./fonts/LibreFranklin-Thin.ttf")
}

@font-face {
    font-family: Libre-Franklin-Bold;
    src: url("./fonts/LibreFranklin-Bold.ttf")
}

.container {
    width: 1124px;
    margin-right: auto;
    margin-left: auto;
    display: none;


}

a {
    text-decoration: none;
}

/* header */

header .top-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: 55px;
    background: white;
    border-bottom: 1px solid rgb(220, 220, 220);
    position: fixed;
    left: 0%;
    top: 0;
    z-index: 1;
}

header .top-buttons nav {
    display: none;
}



header .top-buttons img {
    max-width: 120px;
}

header .top-buttons i {
    font-size: 20px;
    margin: 0 18px;
    align-self: center;

}

header .logo {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-end;
    padding-left: 33%;

    width: 100%;

}

header .logo img {
    width: 350px;
    padding-top: 100px;
}

header .today-date {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header .today-date .line {

    width: 100%;
    border-bottom: 1px solid grey;

}

header .today-date .clock {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-family: Raleway-Italic, sans-serif;
    color: rgb(19, 18, 18);
    text-align: center;
    position: center;

}

header .today-date .time {
    flex-shrink: 1;
    letter-spacing: 0.1em;
    font-size: 14px;
    margin: 0 10px;
}

header .today-date .fecha {
    flex-shrink: 2;
    letter-spacing: 0.1em;
    font-size: 14px;
}



/*news-feed */


#news-feed-mobile {
    display: block;
    margin-top: 100px;
    width: 100%;
}

#news-feed .news-block {
    display: flex;
    width: 100%;
}

#news-feed .news-block .left-block {
    width: 64%;
    padding-right: 1%;

}

#news-feed .news-block .right-block {
    width: 34%;
    padding-left: 1%;

}

#news-feed-mobile .video {
    width: 100%;
    display: flex;
}

#news-feed article,
#news-feed-mobile article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 0 15px;
    height: 100%;
}

#news-feed .news-block .left-block article {
    height: 90%;
}

#news-feed .news-block .right-block article {
    height: 50%;

}

#news-feed h1,
#news-feed-mobile h1 {
    margin: 25px 0 20px 0;
    font-family: Libre-Franklin-Bold, sans-serif;
    font-size: 22px;
    color: black;
}

#news-feed h2,
#news-feed-mobile h2 {
    color: black;
    font-family: Libre-Franklin-Bold, sans-serif;
    font-size: 21px;
}

#news-feed h3 {
    color: black;
    font-family: Raleway, sans-serif;
    font-size: 18px;
}

#news-feed p,
#news-feed-mobile p {
    font-size: 20px;
    font-family: Libre-Franklin-Thin, sans-serif;
    color: grey;
}

#news-feed figure,
#news-feed-mobile figure {
    position: relative;
    margin: 0;
}

#news-feed figure img,
#news-feed-mobile figure img {
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
}

#news-feed figure figcaption,
#news-feed-mobile figure figcaption {
    width: auto;
    padding: 15px;
    border-radius: 5px;
    font-family: Libre-Franklin-Bold, sans-serif;
    background: rgb(0, 0, 0, 0.6);

    position: absolute;
    bottom: 25px;
    left: 15px;


}



#news-feed figure figcaption span,
#news-feed-mobile figure figcaption span {
    color: white;
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    min-width: 1124px;
    width: 100%;
    background: rgb(245, 245, 245);

    height: 500px;
}

footer .topbar {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    position: relative;
}

footer .topbar img {
    width: 100px;
}

footer .topbar .socialnetwork {
    position: absolute;
    left: 25px;
    top: 25px;
}

footer .topbar .socialnetwork a {
    text-decoration: none;
}

footer .topbar .socialnetwork i {
    color: rgb(60, 60, 60);
    margin-right: 12px;
    font-size: 22px;
}

footer .sitemap {
    display: flex;
    width: 100%;
}

footer .sitemap .col {
    width: 25%;
    padding-left: 25px;
}